<nav class="navbar navbar-expand-lg bg-light navbar-dark bg-dark">
    <div class="container-fluid">
      <!--<a class="navbar-brand" routerLink="../home" >WEBX PROJECT</a>-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="transform:translate(930%); font-size: 15px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" >ABOUT</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <p style="color: rgba(159, 159, 159, 0.813); font-size: 20px ; transform:translate(-16%,39%)">GO BACK ></p>
          <button class="btn btn-outline-info" type="submit" routerLink="../home">HOME</button>
        </form>
      </div>
    </div>
  </nav>
  
  
  
  
  
  
  
  
  
  
  
  
  <! body below and header above>
  
  
  <!-- start -->
  <section class="background-radial-gradient overflow-hidden">
    <style>
      
      .background-radial-gradient {
        background-color: hsl(218, 41%, 15%);
        background-image: radial-gradient(650px circle at 0% 0%,
            hsl(218, 41%, 35%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
          radial-gradient(1250px circle at 100% 100%,
            hsl(218, 46%, 12%) 15%,
            hsl(219, 44%, 8%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
      }
      
      .button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  }
  
  .button-64:active,
  .button-64:hover {
  outline: 0;
  }
  
  .button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  }
  
  .button-64:hover span {
  background: none;
  }
  
  @media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
  }
  
      #radius-shape-1 {
        height: 220px;
        width: 220px;
        top: -60px;
        left: -100px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
      }
  
      #radius-shape-2 {
        border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
        bottom: -60px;
        right: -110px;
        width: 300px;
        height: 300px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
      }

      .bg-glass {
        background-color: hsla(0, 0%, 44%, 0.164) !important;
        backdrop-filter: saturate(200%) blur(25px);
      }
  
  
    </style>
  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
  
  
          <!-- HOME WEB SPACE-->
          <p style="color: white;font-family: 'Courier New', monospace;">
            Rahul Varanasi<br>
GITAM Institute of Technology, GITAM Deemed to be University
20, Male<br><br><br>
Education: <br><br>
Class	Board	Marks<br>
B. Tech., Computer Science Engineering	GITAM Institute of Technology, GITAM Deemed to be University	7.51/10.00<br>
12th	Other	73.91<br>
10th	ICSE	70.80<br><br><br>
Skills:<br><br>
Programming Languages	:C, Python<br>
Database:	MongoDB<br>
Operating Systems:	Windows 10, Windows 3.1, Windows 95/98/Me, Windows XP/Vista/7<br>
Softwares:	Jupyter notebook, Spyder, Visual Studio, Python IDE, Photoshop, MS Word, MS Excel, MS PowerPoint<br>
Other Skills:	Cloud Computing, Web development, CSS<br><br><br>
Projects:<br><br>
Full Stack Development - Phoenix Global	(May, 2022 - Present)<br>
certified project and training in MEAN stack development<br>
Amazon Web Development - Verzeo	(Jan, 2022 - Apr, 2022)<br>
Two certified projects and training in cloud computing<br><br><br>
Academic:<br><br>
Selected for product development placement training which is conducted by Cantilever Labs pvt ltd<br>

Never had any backlog<br><br><br>

Cultural:<br><br>
Admin for 'RR Reels' YouTube channel [1.3k subs] and google certified AdSense monetization.<br>

Written and directed a short film or documentary on astrophysics and 4th-dimensional concepts.<br>

-Acquired: Creative thinking, interpersonal, public speaking, teamwork, collaboration, and leadership skills<br>

*Expert in Adobe Photoshop, After Effects, Audition, and Premiere pro<br>

Good knowledge about blender and digital designs<br><br><br>

Other Informations:<br><br>
Completed certified internship in cloud computing: Amazon Web Services [training + 2 projects]<br>

Completed certified internship in full-stack web development: MEAN stack [training + project]<br>

Completed Udemy course: Python-zero to hero<br>

Selected for Product Development placement training conducted by Cantilever Labs Pvt Ltd<br>

Good practical knowledge of Python, HTML, CSS, bootstrap, angular material, JavaScript, MongoDB, Express.js, AngularJS, and Node.js.<br>
          </p>
          
  
  
        </div>
      </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </section>
  <!-- completed -->
  
  
  
  