<div class="style"></div>
<div class="container pt-5 mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 style="text-align: center;color: red;">
                    ERROR</h1>
                <h2 style="text-align: center">
                    404 Not Found</h2>

                <div style="text-align: center" class="error-actions">
                    <a routerLink="../alphamain" class="btn btn-outline-danger btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Back To AlphaMain </a>
                </div>
            </div>
        </div>
    </div>
</div> 
