























<img class="background" src="/assets/building with blur.png" alt="image">


<div class="midtext ">
    <h1 class="tracking-in-expand">G - R E S O U R C E S</h1>
</div>

<div class="midtag">
    <p style="text-transform: uppercase;" class="tagline focus-in-contract-bck">- FINAL VERSION / ORIGINAL CODE -</p>
</div>





<!--page 2 code begins-->


<div class="second">
    <div class="sideh bar1">
        <h1 style="font-size: 4.5rem;color: rgb(255, 255, 255); padding: 0% 0%;writing-mode: vertical-rl;text-orientation: upright;transform: translate(210%,17%);"><span style="color: aqua;">C</span>OURSE<span style="color: aqua;">S</span></h1>
    </div>
    <div class="sites">
      <body>
        <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
    
     <div class="container">
        <div class="card">
          <div class="face face1 uppercardsh">
            <div class="content">         
              <h3>Udemy</h3>
            </div>
          </div>
          <div class="face face2 uppercardsp">
            <div class="content">
              <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
              <a href="#" type="button">Read More</a>
            </div>
          </div>
       </div>
       
       <div class="card">
          <div class="face face1 uppercardsh">
            <div class="content">
               <h3>Udemy</h3>
            </div>
          </div>
          <div class="face face2 uppercardsp">
            <div class="content">
              <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
              <a href="#" type="button">Read More</a>
            </div>
          </div>
       </div>
       
       
       <div class="card">
          <div class="face face1 uppercardsh">
            <div class="content">
               <h3>Udemy</h3>
            </div>
          </div>
          <div class="face face2 uppercardsp">
            <div class="content">
              <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
              <a href="#" type="button">Read More</a>
            </div>
          </div>
       </div>
       
    
       <div class="card">
        <div class="face face1">
          <div class="content">
             <h3>Coursera</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
       
     <div class="card">
        <div class="face face1">
          <div class="content">
             <h3>Coursera</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
     <div class="card">
        <div class="face face1">
          <div class="content">
             <h3>Coursera</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
       
       
       
     </div>
     
    </body>



    </div>
</div>
<!--page 2 ends-->


<!--PAGE-3 begins-->

<div class="second">
  <div class="sideh bar1">
      <h1 style="text-align: center;font-size: 4.5rem;color: rgb(255, 255, 255); padding: 0% 0%;writing-mode: vertical-rl;text-orientation: upright;transform: translate(210%,33%);"><span style="color: rgb(64, 255, 0);">T</span>RAVEL</h1>
  </div>
  <div class="sites">
    <body>
      <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
  
   <div class="container">
      <div class="card">
        <div class="face face1 uppercardsh">
          <div class="content">         
            <h3>Udemy</h3>
          </div>
        </div>
        <div class="face face2 uppercardsp">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
     
     <div class="card">
        <div class="face face1 uppercardsh">
          <div class="content">
             <h3>Udemy</h3>
          </div>
        </div>
        <div class="face face2 uppercardsp">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
     
     
     <div class="card">
        <div class="face face1 uppercardsh">
          <div class="content">
             <h3>Udemy</h3>
          </div>
        </div>
        <div class="face face2 uppercardsp">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
     
  
     <div class="card">
      <div class="face face1">
        <div class="content">
           <h3>Coursera</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
          <a href="#" type="button">Read More</a>
        </div>
      </div>
   </div>
     
   <div class="card">
      <div class="face face1">
        <div class="content">
           <h3>Coursera</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
          <a href="#" type="button">Read More</a>
        </div>
      </div>
   </div>
   <div class="card">
      <div class="face face1">
        <div class="content">
           <h3>Coursera</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
          <a href="#" type="button">Read More</a>
        </div>
      </div>
   </div>
     
     
     
   </div>
   
  </body>



  </div>
</div>









<!--PAGE-4-->

<div class="second">
  <div class="sideh bar1">
      <h1 style="text-align: center;font-size: 4.5rem;color: rgb(255, 255, 255); padding: 0% 0%;writing-mode: vertical-rl;text-orientation: upright;transform: translate(210%,33%);"><span style="color: rgb(64, 255, 0);">T</span>RAVEL</h1>
  </div>
  <div class="sites">
    <body>
      <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
  
   <div class="container">
      <div class="card">
        <div class="face face1 uppercardsh">
          <div class="content">         
            <h3>Udemy</h3>
          </div>
        </div>
        <div class="face face2 uppercardsp">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
     
     <div class="card">
        <div class="face face1 uppercardsh">
          <div class="content">
             <h3>Udemy</h3>
          </div>
        </div>
        <div class="face face2 uppercardsp">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
     
     
     <div class="card">
        <div class="face face1 uppercardsh">
          <div class="content">
             <h3>Udemy</h3>
          </div>
        </div>
        <div class="face face2 uppercardsp">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
     
  
     <div class="card">
      <div class="face face1">
        <div class="content">
           <h3>Coursera</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
          <a href="#" type="button">Read More</a>
        </div>
      </div>
   </div>
     
   <div class="card">
      <div class="face face1">
        <div class="content">
           <h3>Coursera</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
          <a href="#" type="button">Read More</a>
        </div>
      </div>
   </div>
   <div class="card">
      <div class="face face1">
        <div class="content">
           <h3>Coursera</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
          <a href="#" type="button">Read More</a>
        </div>
      </div>
   </div>
     
     
     
   </div>
   
  </body>



  </div>
</div>