<nav class="navbar">
  <div class="tabs">
    <input id="tab-1" type="radio" name="group" />
    <input id="tab-2" type="radio" name="group" />
    <input id="tab-3" type="radio" name="group" />
    <input id="tab-4" type="radio" name="group" />
    <input id="tab-5" type="radio" name="group" />
    <input id="tab-6" type="radio" name="group" />
    <input id="tab-7" type="radio" name="group" />
    <input id="tab-8" type="radio" name="group" />

    <div class="buttons">
      <label class="material-symbols-outlined" for="tab-1"> home </label>
      <label class="material-symbols-outlined" for="tab-2"> notifications </label>
      <label class="material-symbols-outlined" for="tab-3">
        favorite
      </label>
      <label class="material-symbols-outlined" for="tab-4">
        settings
      </label>
      <label class="material-symbols-outlined" for="tab-5">
        settings
      </label>
      <label class="material-symbols-outlined" for="tab-6">
        settings
      </label>
      <label class="material-symbols-outlined" for="tab-7">
        settings
      </label>
      <label class="material-symbols-outlined" for="tab-8">
        settings
      </label>
    </div>
  </div>
</nav>

































<img class="background" src="/assets/building with blur.png" alt="image">


<div class="midtext ">
    <h1 class="tracking-in-expand">ALPHA PAGE</h1><br>
</div>

<div class="midtag">
    <p style="text-transform: uppercase; font-family: 'Gruppo';font-size: 2rem;" class="tagline focus-in-contract-bck">- INTEGRATING UNIT MODULES -</p>
</div>



<div class="second">
    <div class="sideh bar1">
        <h1 style="font-size: 4.5rem;color: rgb(255, 255, 255); padding: 0% 0%;writing-mode: vertical-rl;text-orientation: upright;transform: translate(210%,17%);"><span style="color: aqua;">C</span>OURSE<span style="color: aqua;">S</span></h1>
    </div>
    <div class="sites">
      <div class="bodyofcards">
        <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
    
     <div class="container">
        <div class="card">
          <div class="face face1 uppercardsh">
            <div class="content">         
              <h3>Udemy</h3>
            </div>
          </div>
          <div class="face face2 uppercardsp">
            <div class="content">
              <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
              <a href="#" type="button">Read More</a>
            </div>
          </div>
       </div>
       
       <div class="card">
          <div class="face face1 uppercardsh">
            <div class="content">
               <h3>Udemy</h3>
            </div>
          </div>
          <div class="face face2 uppercardsp">
            <div class="content">
              <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
              <a href="#" type="button">Read More</a>
            </div>
          </div>
       </div>
       
       
       <div class="card">
          <div class="face face1 uppercardsh">
            <div class="content">
               <h3>Udemy</h3>
            </div>
          </div>
          <div class="face face2 uppercardsp">
            <div class="content">
              <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
              <a href="#" type="button">Read More</a>
            </div>
          </div>
       </div>
       
    
       <div class="card">
        <div class="face face1">
          <div class="content">
             <h3>Coursera</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
       
     <div class="card">
        <div class="face face1">
          <div class="content">
             <h3>Coursera</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
     <div class="card">
        <div class="face face1">
          <div class="content">
             <h3>Coursera</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
       
       
       
     </div>
     
    </div>



    </div>
</div>



<!--PAGE-3-->

<div class="second">
  <div class="sideh bar1">
      <h1 style="text-align: center;font-size: 4.5rem;color: rgb(255, 255, 255); padding: 0% 0%;writing-mode: vertical-rl;text-orientation: upright;transform: translate(210%,29%);"><span style="color: rgb(64, 255, 0);">T</span>RAVEL</h1>
  </div>
  <div class="sites">
    <div>
      <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
  
   <div class="container">
      <div class="card">
        <div class="face face1 uppercardsh">
          <div class="content">         
            <h3>Udemy</h3>
          </div>
        </div>
        <div class="face face2 uppercardsp">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
     
     <div class="card">
        <div class="face face1 uppercardsh">
          <div class="content">
             <h3>Udemy</h3>
          </div>
        </div>
        <div class="face face2 uppercardsp">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
     
     
     <div class="card">
        <div class="face face1 uppercardsh">
          <div class="content">
             <h3>Udemy</h3>
          </div>
        </div>
        <div class="face face2 uppercardsp">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
     
  
     <div class="card">
      <div class="face face1">
        <div class="content">
           <h3>Coursera</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
          <a href="#" type="button">Read More</a>
        </div>
      </div>
   </div>
     
   <div class="card">
      <div class="face face1">
        <div class="content">
           <h3>Coursera</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
          <a href="#" type="button">Read More</a>
        </div>
      </div>
   </div>
   <div class="card">
      <div class="face face1">
        <div class="content">
           <h3>Coursera</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
          <a href="#" type="button">Read More</a>
        </div>
      </div>
   </div>
     
     
     
   </div>
   
  </div>



  </div>
</div>









<!--PAGE-4-->

<div class="second">
  <div class="sideh bar1">
      <h1 style="text-align: center;font-size: 4.5rem;color: rgb(255, 255, 255); padding: 0% 0%;writing-mode: vertical-rl;text-orientation: upright;transform: translate(210%,29%);"><span style="color: rgb(64, 255, 0);">T</span>RAVEL</h1>
  </div>
  <div class="sites">
    <div>
      <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
  
   <div class="container">
      <div class="card">
        <div class="face face1 uppercardsh">
          <div class="content">         
            <h3>Udemy</h3>
          </div>
        </div>
        <div class="face face2 uppercardsp">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
     
     <div class="card">
        <div class="face face1 uppercardsh">
          <div class="content">
             <h3>Udemy</h3>
          </div>
        </div>
        <div class="face face2 uppercardsp">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
     
     
     <div class="card">
        <div class="face face1 uppercardsh">
          <div class="content">
             <h3>Udemy</h3>
          </div>
        </div>
        <div class="face face2 uppercardsp">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
     
  
     <div class="card">
      <div class="face face1">
        <div class="content">
           <h3>Coursera</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
          <a href="#" type="button">Read More</a>
        </div>
      </div>
   </div>
     
   <div class="card">
      <div class="face face1">
        <div class="content">
           <h3>Coursera</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
          <a href="#" type="button">Read More</a>
        </div>
      </div>
   </div>
   <div class="card">
      <div class="face face1">
        <div class="content">
           <h3>Coursera</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
          <a href="#" type="button">Read More</a>
        </div>
      </div>
   </div>
     
     
     
   </div>
   
  </div>



  </div>
</div>