




<div class="secondpage">



  <div class="secondleft">
    <div class="sideh bar1">
        <h1 style="font-size: 4.5rem;color: rgb(255, 255, 255); padding: 0% 0%;writing-mode: vertical-rl;text-orientation: upright;transform: translate(60%,0%);"><span style="color: aqua;">C</span>OURSE<span style="color: aqua;">S</span></h1>
    </div>
    <div class="sites">
      <h1>hello</h1>
    </div>
  </div>

  <div class="fright">

    <div class="cardsbody">
        <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
    
     <div class="container">
        <div class="card">
          <div class="face face1 uppercardsh">
            <div class="content">         
              <h3>Udemy</h3>
            </div>
          </div>
          <div class="face face2 uppercardsp">
            <div class="content">
              <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
              <a href="#" type="button">Read More</a>
            </div>
          </div>
       </div>
       
       <div class="card">
          <div class="face face1 uppercardsh">
            <div class="content">
               <h3>Udemy</h3>
            </div>
          </div>
          <div class="face face2 uppercardsp">
            <div class="content">
              <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
              <a href="#" type="button">Read More</a>
            </div>
          </div>
       </div>
       
       
       <div class="card">
          <div class="face face1 uppercardsh">
            <div class="content">
               <h3>Udemy</h3>
            </div>
          </div>
          <div class="face face2 uppercardsp">
            <div class="content">
              <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
              <a href="#" type="button">Read More</a>
            </div>
          </div>
       </div>
       
    
       <div class="card">
        <div class="face face1">
          <div class="content">
             <h3>Coursera</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
       
     <div class="card">
        <div class="face face1">
          <div class="content">
             <h3>Coursera</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
     <div class="card">
        <div class="face face1">
          <div class="content">
             <h3>Coursera</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>PAID:80%<br>FREE:20%<br><br>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.</p>
            <a href="#" type="button">Read More</a>
          </div>
        </div>
     </div>
     </div>
    </div>
  </div>

</div>

